<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Things</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    {% include 'nav.html' %}
    <div class="container text-center">
        <h1 class="text-center">Python is fun</h1>
        <div class="row">
            <img class='mx-auto logo' src="/static/PythonLogo.png" alt="python logo">
        </div>
        <div class="row">
            <img class='mx-auto d-block' src="https://media.giphy.com/media/Xevbyzszv6z2nBYOvE/giphy.gif"
                alt="ali wong so fun">
        </div>
    </div>
</body>

</html>